@red-main: #f5501e;
@font-red: #ff405a;
@gray-light-border: #ececec;
@gray-light-3: #cbcbcb;
@gray-light-4: #adadad;
@gray-light-bg: #f6f6f6;

@main-font-gray: #787878;

@font-size-tiny: 10px;
@font-size-tiny2: 11px;
@font-size-tiny3: 12px;
@font-size-sm: 13px;
@font-size-sm2: 14px;
@font-size-sm3: 15px;
@font-size-md: 16px;
@font-size-md2: 17px;
@font-size-md3: 18px;
@font-size-lg: 19px;
@font-size-lg2: 20px;
@font-size-lg3: 21px;
