@red-main: #f5501e;
@font-red: #ff405a;
@gray-light-border: #ececec;
@gray-light-border-2: #d7d7d7;
@gray-light-3: #cbcbcb;
@gray-light-4: #adadad;
@gray-light-bg: #f6f6f6;
@gray-light-bg-2: #f6f4f4;
@orange-bg-1: #f57c00;
@yellow-gray-bg-1: #f57c00;
@yellow-bg-1: #ffd258;
@main-font-gray: #787878;
@font-dark-light-1: #515151;

@font-size-tiny: 10px;
@font-size-tiny2: 11px;
@font-size-tiny3: 12px;
@font-size-sm: 13px;
@font-size-sm2: 14px;
@font-size-sm3: 15px;
@font-size-md: 16px;
@font-size-md2: 17px;
@font-size-md3: 18px;
@font-size-lg: 19px;
@font-size-lg2: 20px;
@font-size-lg3: 21px;

@nav-height: 70px;
@nav-height-out: 72px;